<div class=pycbc-meta key="render-function" value="render_tmplt"></div><div class=pycbc-meta key="filenames" value="H1L1V1-PLOT_SPECTRUM_GW170104_101158-1126259200-400.png"></div><div class=pycbc-meta key="title" value="GW170104_101158"></div><div class=pycbc-meta key="collapse" value="True"></div><!-- add a subtitle -->


<!-- hold images inside a well -->
<div class="scaffold well">

    <!-- set file counter integer -->
    

    <!-- display formatted files -->
    
        <div class="row">

            <!-- two file case -->
            

            <!-- one file case -->
            
                <div class="col-md-12" style="padding-top:20px;">
                <a name="A1"></a>
                    
                    {% if path_exists('/work/shilpa.kastha/4ogc/webpage/BBH/BBH_test1_output/results/1._detector_sensitivity/H1L1V1-PLOT_SPECTRUM_GW170104_101158-1126259200-400.png') %}
                        {% set cp = get_embedded_config('/work/shilpa.kastha/4ogc/webpage/BBH/BBH_test1_output/results/1._detector_sensitivity/H1L1V1-PLOT_SPECTRUM_GW170104_101158-1126259200-400.png') %}
                            {% if cp.has_option('H1L1V1-PLOT_SPECTRUM_GW170104_101158-1126259200-400.png', 'title') %}
                                <p class="text-center" style="font-size:18px;">
                                    <a href="#A1">
                                    <b>A1. {{cp.get('H1L1V1-PLOT_SPECTRUM_GW170104_101158-1126259200-400.png', 'title')}}</b></p>
                                    </a>
                                </p>
                            {% endif %}
                            {{ setup_template_render('/work/shilpa.kastha/4ogc/webpage/BBH/BBH_test1_output/results/1._detector_sensitivity/H1L1V1-PLOT_SPECTRUM_GW170104_101158-1126259200-400.png' , '') }}
                    {% endif %}
                    
                </div>
            

            <!-- increment -->
            

    </div>
    

</div>